In [ ]:
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading https://files.pythonhosted.org/packages/3f/c1/2a77723ae03fea7650f8d77ab78055c08fd905fc956d67d4e4c4fc32c653/XlsxWriter-1.4.0-py2.py3-none-any.whl (147kB)
     |████████████████████████████████| 153kB 4.4MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-1.4.0

In [ ]:
# Necessary Imports
import os
import os.path
import urllib
from urllib import request
import numpy as np
import pandas as pd
import xlsxwriter
from matplotlib import pyplot as plt

In [ ]:
# Download Data Files if Not Currently Downloaded into the Current Working Directory
DOWNLOAD_DIR = "/content/"

# Set Needed File Names
needed_files = ["nba odds 2007-08.xlsx", "nba odds 2008-09.xlsx",
                "nba odds 2009-10.xlsx", "nba odds 2010-11.xlsx",
                "nba odds 2011-12.xlsx", "nba odds 2012-13.xlsx",
                "nba odds 2013-14.xlsx", "nba odds 2014-15.xlsx",
                "nba odds 2015-16.xlsx", "nba odds 2016-17.xlsx",
                "nba odds 2017-18.xlsx", "nba odds 2018-19.xlsx",
                "nba odds 2019-20.xlsx", "nba odds 2020-21.xlsx"]

# Remove Space from Needed File Names
file_urls = []
for filename in needed_files:
  file_urls.append(filename.replace(' ', '%20'))
  
# Create Season Data List
season_data = []

# Read and Download Needed Files
for i in range(len(needed_files)):
    if not os.path.isfile(DOWNLOAD_DIR + needed_files[i]):
      DOWNLOAD_ROOT = "https://raw.githubusercontent.com/LMastro99/Sports-Betting-Module/main/season-data/raw-data/"
      url = DOWNLOAD_ROOT + file_urls[i]
      urllib.request.urlretrieve(url, DOWNLOAD_DIR + needed_files[i])
    print("Downloaded", needed_files[i])    

    # Create Dataframe "Layers" with the Data From the XLSX Files
    download = pd.read_excel(DOWNLOAD_DIR + needed_files[i])
    season_data.append(download)

# Convert Season Data to Numpy Array of DataFrames
season_data = np.array(season_data, dtype = 'object')

Downloaded nba odds 2007-08.xlsx
Downloaded nba odds 2008-09.xlsx
Downloaded nba odds 2009-10.xlsx
Downloaded nba odds 2010-11.xlsx
Downloaded nba odds 2011-12.xlsx
Downloaded nba odds 2012-13.xlsx
Downloaded nba odds 2013-14.xlsx
Downloaded nba odds 2014-15.xlsx
Downloaded nba odds 2015-16.xlsx
Downloaded nba odds 2016-17.xlsx
Downloaded nba odds 2017-18.xlsx
Downloaded nba odds 2018-19.xlsx
Downloaded nba odds 2019-20.xlsx
Downloaded nba odds 2020-21.xlsx

In [ ]:
# Correct Date Column
for i in range(len(season_data)):
  season_data[i]['Date'] = season_data[i]['Date'].astype('object')
  ymod = 1
  for r in range(len(season_data[i])):
    date = season_data[i]['Date'][r]
    month = str (date // 100)
    day = str (date % 100)
    if (month == '1' and int (day) >= 1):
      ymod = 0
    year = str (2000 + int (needed_files[i][-7:-5]) - ymod)
    date = month + '/' + day + '/' + year
    season_data[i]['Date'][r] = date
  season_data[i]['Date'] = pd.to_datetime(season_data[i]['Date'], format = '%m/%d/%Y')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]

In [ ]:
# View All Season Data Info
for s in range(len(season_data)):
  print(needed_files[s])
  print(season_data[s].info())
  print()

nba odds 2007-08.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2632 entries, 0 to 2631
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2632 non-null   datetime64[ns]
 1   Rot     2632 non-null   int64
 2   VH      2632 non-null   object
 3   Team    2632 non-null   object
 4   1st     2632 non-null   int64
 5   2nd     2632 non-null   int64
 6   3rd     2632 non-null   int64
 7   4th     2632 non-null   int64
 8   Final   2632 non-null   int64
 9   Open    2632 non-null   object
 10  Close   2632 non-null   object
 11  ML      2632 non-null   object
 12  2H      2632 non-null   object
dtypes: datetime64[ns](1), int64(6), object(6)
memory usage: 267.4+ KB
None

nba odds 2008-09.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2630 non-null   datetime64[ns]
 1   Rot     2630 non-null   int64
 2   VH      2630 non-null   object
 3   Team    2630 non-null   object
 4   1st     2630 non-null   int64
 5   2nd     2630 non-null   int64
 6   3rd     2630 non-null   int64
 7   4th     2630 non-null   int64
 8   Final   2630 non-null   int64
 9   Open    2630 non-null   object
 10  Close   2630 non-null   object
 11  ML      2630 non-null   int64
 12  2H      2630 non-null   object
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 267.2+ KB
None

nba odds 2009-10.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624 entries, 0 to 2623
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2624 non-null   datetime64[ns]
 1   Rot     2624 non-null   int64
 2   VH      2624 non-null   object
 3   Team    2624 non-null   object
 4   1st     2624 non-null   int64
 5   2nd     2624 non-null   int64
 6   3rd     2624 non-null   int64
 7   4th     2624 non-null   int64
 8   Final   2624 non-null   int64
 9   Open    2624 non-null   object
 10  Close   2624 non-null   object
 11  ML      2624 non-null   float64
 12  2H      2624 non-null   object
dtypes: datetime64[ns](1), float64(1), int64(6), object(5)
memory usage: 266.6+ KB
None

nba odds 2010-11.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2622 non-null   datetime64[ns]
 1   Rot     2622 non-null   int64
 2   VH      2622 non-null   object
 3   Team    2622 non-null   object
 4   1st     2622 non-null   int64
 5   2nd     2622 non-null   int64
 6   3rd     2622 non-null   int64
 7   4th     2622 non-null   int64
 8   Final   2622 non-null   int64
 9   Open    2622 non-null   object
 10  Close   2622 non-null   object
 11  ML      2622 non-null   int64
 12  2H      2622 non-null   object
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 266.4+ KB
None

nba odds 2011-12.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2148 entries, 0 to 2147
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2148 non-null   datetime64[ns]
 1   Rot     2148 non-null   int64
 2   VH      2148 non-null   object
 3   Team    2148 non-null   object
 4   1st     2148 non-null   int64
 5   2nd     2148 non-null   int64
 6   3rd     2148 non-null   int64
 7   4th     2148 non-null   int64
 8   Final   2148 non-null   int64
 9   Open    2148 non-null   object
 10  Close   2148 non-null   object
 11  ML      2148 non-null   int64
 12  2H      2148 non-null   object
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 218.3+ KB
None

nba odds 2012-13.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2628 entries, 0 to 2627
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2628 non-null   datetime64[ns]
 1   Rot     2628 non-null   int64
 2   VH      2628 non-null   object
 3   Team    2628 non-null   object
 4   1st     2628 non-null   int64
 5   2nd     2628 non-null   int64
 6   3rd     2628 non-null   int64
 7   4th     2628 non-null   int64
 8   Final   2628 non-null   int64
 9   Open    2628 non-null   object
 10  Close   2628 non-null   object
 11  ML      2628 non-null   int64
 12  2H      2628 non-null   object
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 267.0+ KB
None

nba odds 2013-14.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2638 entries, 0 to 2637
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2638 non-null   datetime64[ns]
 1   Rot     2638 non-null   int64
 2   VH      2638 non-null   object
 3   Team    2638 non-null   object
 4   1st     2638 non-null   int64
 5   2nd     2638 non-null   int64
 6   3rd     2638 non-null   int64
 7   4th     2638 non-null   int64
 8   Final   2638 non-null   int64
 9   Open    2638 non-null   object
 10  Close   2638 non-null   object
 11  ML      2638 non-null   int64
 12  2H      2638 non-null   object
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 268.0+ KB
None

nba odds 2014-15.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2622 non-null   datetime64[ns]
 1   Rot     2622 non-null   int64
 2   VH      2622 non-null   object
 3   Team    2622 non-null   object
 4   1st     2622 non-null   int64
 5   2nd     2622 non-null   int64
 6   3rd     2622 non-null   int64
 7   4th     2622 non-null   int64
 8   Final   2622 non-null   int64
 9   Open    2622 non-null   object
 10  Close   2622 non-null   object
 11  ML      2622 non-null   int64
 12  2H      2622 non-null   object
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 266.4+ KB
None

nba odds 2015-16.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2632 entries, 0 to 2631
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2632 non-null   datetime64[ns]
 1   Rot     2632 non-null   int64
 2   VH      2632 non-null   object
 3   Team    2632 non-null   object
 4   1st     2632 non-null   int64
 5   2nd     2632 non-null   int64
 6   3rd     2632 non-null   int64
 7   4th     2632 non-null   int64
 8   Final   2632 non-null   int64
 9   Open    2632 non-null   object
 10  Close   2632 non-null   object
 11  ML      2632 non-null   int64
 12  2H      2630 non-null   object
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 267.4+ KB
None

nba odds 2016-17.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2618 entries, 0 to 2617
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2618 non-null   datetime64[ns]
 1   Rot     2618 non-null   int64
 2   VH      2618 non-null   object
 3   Team    2618 non-null   object
 4   1st     2618 non-null   int64
 5   2nd     2618 non-null   int64
 6   3rd     2618 non-null   int64
 7   4th     2618 non-null   int64
 8   Final   2618 non-null   int64
 9   Open    2618 non-null   object
 10  Close   2618 non-null   object
 11  ML      2618 non-null   int64
 12  2H      2618 non-null   object
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 266.0+ KB
None

nba odds 2017-18.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624 entries, 0 to 2623
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2624 non-null   datetime64[ns]
 1   Rot     2624 non-null   int64
 2   VH      2624 non-null   object
 3   Team    2624 non-null   object
 4   1st     2624 non-null   int64
 5   2nd     2624 non-null   int64
 6   3rd     2624 non-null   int64
 7   4th     2624 non-null   int64
 8   Final   2624 non-null   int64
 9   Open    2624 non-null   object
 10  Close   2624 non-null   object
 11  ML      2624 non-null   int64
 12  2H      2624 non-null   object
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 266.6+ KB
None

nba odds 2018-19.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624 entries, 0 to 2623
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2624 non-null   datetime64[ns]
 1   Rot     2624 non-null   int64
 2   VH      2624 non-null   object
 3   Team    2624 non-null   object
 4   1st     2624 non-null   int64
 5   2nd     2624 non-null   int64
 6   3rd     2624 non-null   int64
 7   4th     2624 non-null   int64
 8   Final   2624 non-null   int64
 9   Open    2624 non-null   object
 10  Close   2624 non-null   object
 11  ML      2624 non-null   int64
 12  2H      2624 non-null   object
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 266.6+ KB
None

nba odds 2019-20.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2286 entries, 0 to 2285
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2286 non-null   datetime64[ns]
 1   Rot     2286 non-null   int64
 2   VH      2286 non-null   object
 3   Team    2286 non-null   object
 4   1st     2286 non-null   int64
 5   2nd     2286 non-null   int64
 6   3rd     2286 non-null   int64
 7   4th     2286 non-null   int64
 8   Final   2286 non-null   int64
 9   Open    2286 non-null   object
 10  Close   2285 non-null   object
 11  ML      2286 non-null   int64
 12  2H      2286 non-null   object
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 232.3+ KB
None

nba odds 2020-21.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1718 non-null   datetime64[ns]
 1   Rot     1718 non-null   int64
 2   VH      1718 non-null   object
 3   Team    1718 non-null   object
 4   1st     1718 non-null   int64
 5   2nd     1718 non-null   int64
 6   3rd     1718 non-null   int64
 7   4th     1718 non-null   int64
 8   Final   1718 non-null   int64
 9   Open    1718 non-null   object
 10  Close   1718 non-null   object
 11  ML      1718 non-null   int64
 12  2H      1718 non-null   object
dtypes: datetime64[ns](1), int64(7), object(5)
memory usage: 174.6+ KB
None

In [ ]:
# Drop ['Rot'], ['Open'], and ['2H'] Columns from each Season's Data
for s in range(len(season_data)):
  season_data[s].drop(columns = ['Rot', 'Open', 'Close', '2H'], inplace = True)

In [ ]:
# Rename ['VH'] to ['Home'] for each Season
for s in range(len(season_data)):
  season_data[s].rename(columns = {'VH' : 'Home'}, inplace = True)

In [ ]:
# View All Season Data Info
for s in range(len(season_data)):
  print(needed_files[s])
  print(season_data[s].info())
  print()

nba odds 2007-08.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2632 entries, 0 to 2631
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2632 non-null   datetime64[ns]
 1   Home    2632 non-null   object
 2   Team    2632 non-null   object
 3   1st     2632 non-null   int64
 4   2nd     2632 non-null   int64
 5   3rd     2632 non-null   int64
 6   4th     2632 non-null   int64
 7   Final   2632 non-null   int64
 8   ML      2632 non-null   object
dtypes: datetime64[ns](1), int64(5), object(3)
memory usage: 185.2+ KB
None

nba odds 2008-09.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2630 non-null   datetime64[ns]
 1   Home    2630 non-null   object
 2   Team    2630 non-null   object
 3   1st     2630 non-null   int64
 4   2nd     2630 non-null   int64
 5   3rd     2630 non-null   int64
 6   4th     2630 non-null   int64
 7   Final   2630 non-null   int64
 8   ML      2630 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 185.0+ KB
None

nba odds 2009-10.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624 entries, 0 to 2623
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2624 non-null   datetime64[ns]
 1   Home    2624 non-null   object
 2   Team    2624 non-null   object
 3   1st     2624 non-null   int64
 4   2nd     2624 non-null   int64
 5   3rd     2624 non-null   int64
 6   4th     2624 non-null   int64
 7   Final   2624 non-null   int64
 8   ML      2624 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(5), object(2)
memory usage: 184.6+ KB
None

nba odds 2010-11.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2622 non-null   datetime64[ns]
 1   Home    2622 non-null   object
 2   Team    2622 non-null   object
 3   1st     2622 non-null   int64
 4   2nd     2622 non-null   int64
 5   3rd     2622 non-null   int64
 6   4th     2622 non-null   int64
 7   Final   2622 non-null   int64
 8   ML      2622 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 184.5+ KB
None

nba odds 2011-12.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2148 entries, 0 to 2147
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2148 non-null   datetime64[ns]
 1   Home    2148 non-null   object
 2   Team    2148 non-null   object
 3   1st     2148 non-null   int64
 4   2nd     2148 non-null   int64
 5   3rd     2148 non-null   int64
 6   4th     2148 non-null   int64
 7   Final   2148 non-null   int64
 8   ML      2148 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 151.2+ KB
None

nba odds 2012-13.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2628 entries, 0 to 2627
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2628 non-null   datetime64[ns]
 1   Home    2628 non-null   object
 2   Team    2628 non-null   object
 3   1st     2628 non-null   int64
 4   2nd     2628 non-null   int64
 5   3rd     2628 non-null   int64
 6   4th     2628 non-null   int64
 7   Final   2628 non-null   int64
 8   ML      2628 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 184.9+ KB
None

nba odds 2013-14.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2638 entries, 0 to 2637
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2638 non-null   datetime64[ns]
 1   Home    2638 non-null   object
 2   Team    2638 non-null   object
 3   1st     2638 non-null   int64
 4   2nd     2638 non-null   int64
 5   3rd     2638 non-null   int64
 6   4th     2638 non-null   int64
 7   Final   2638 non-null   int64
 8   ML      2638 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 185.6+ KB
None

nba odds 2014-15.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2622 entries, 0 to 2621
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2622 non-null   datetime64[ns]
 1   Home    2622 non-null   object
 2   Team    2622 non-null   object
 3   1st     2622 non-null   int64
 4   2nd     2622 non-null   int64
 5   3rd     2622 non-null   int64
 6   4th     2622 non-null   int64
 7   Final   2622 non-null   int64
 8   ML      2622 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 184.5+ KB
None

nba odds 2015-16.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2632 entries, 0 to 2631
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2632 non-null   datetime64[ns]
 1   Home    2632 non-null   object
 2   Team    2632 non-null   object
 3   1st     2632 non-null   int64
 4   2nd     2632 non-null   int64
 5   3rd     2632 non-null   int64
 6   4th     2632 non-null   int64
 7   Final   2632 non-null   int64
 8   ML      2632 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 185.2+ KB
None

nba odds 2016-17.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2618 entries, 0 to 2617
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2618 non-null   datetime64[ns]
 1   Home    2618 non-null   object
 2   Team    2618 non-null   object
 3   1st     2618 non-null   int64
 4   2nd     2618 non-null   int64
 5   3rd     2618 non-null   int64
 6   4th     2618 non-null   int64
 7   Final   2618 non-null   int64
 8   ML      2618 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 184.2+ KB
None

nba odds 2017-18.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624 entries, 0 to 2623
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2624 non-null   datetime64[ns]
 1   Home    2624 non-null   object
 2   Team    2624 non-null   object
 3   1st     2624 non-null   int64
 4   2nd     2624 non-null   int64
 5   3rd     2624 non-null   int64
 6   4th     2624 non-null   int64
 7   Final   2624 non-null   int64
 8   ML      2624 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 184.6+ KB
None

nba odds 2018-19.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2624 entries, 0 to 2623
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2624 non-null   datetime64[ns]
 1   Home    2624 non-null   object
 2   Team    2624 non-null   object
 3   1st     2624 non-null   int64
 4   2nd     2624 non-null   int64
 5   3rd     2624 non-null   int64
 6   4th     2624 non-null   int64
 7   Final   2624 non-null   int64
 8   ML      2624 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 184.6+ KB
None

nba odds 2019-20.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2286 entries, 0 to 2285
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2286 non-null   datetime64[ns]
 1   Home    2286 non-null   object
 2   Team    2286 non-null   object
 3   1st     2286 non-null   int64
 4   2nd     2286 non-null   int64
 5   3rd     2286 non-null   int64
 6   4th     2286 non-null   int64
 7   Final   2286 non-null   int64
 8   ML      2286 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 160.9+ KB
None

nba odds 2020-21.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1718 non-null   datetime64[ns]
 1   Home    1718 non-null   object
 2   Team    1718 non-null   object
 3   1st     1718 non-null   int64
 4   2nd     1718 non-null   int64
 5   3rd     1718 non-null   int64
 6   4th     1718 non-null   int64
 7   Final   1718 non-null   int64
 8   ML      1718 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 120.9+ KB
None

In [ ]:
# Note Incorrect Data Types ['ML'] != int64
print(season_data[0].dtypes, '\n\n' + 'ML\t\t ' + str (season_data[0].dtypes['ML']) + '\n')
print(season_data[2].dtypes, '\n\n' + 'ML\t\t' + str (season_data[2].dtypes['ML']))

Date     datetime64[ns]
Home             object
Team             object
1st               int64
2nd               int64
3rd               int64
4th               int64
Final             int64
ML               object
dtype: object

ML		 object

Date     datetime64[ns]
Home             object
Team             object
1st               int64
2nd               int64
3rd               int64
4th               int64
Final             int64
ML              float64
dtype: object

ML		float64

In [ ]:
# Show Error Games [Pt. 1]
current_season = season_data[0]
current_season[current_season['ML']  == 'NL']

           Date Home    Team  1st  2nd  3rd  4th  Final  ML
2184 2008-03-30    V   Miami   13   17   18   14     62  NL
2185 2008-03-30    H  Boston   32   18   18   20     88  NL

In [ ]:
# Show Error Games [Pt. 2]
current_season = season_data[2]
current_season[current_season['ML'] % 1 != 0]
current_season.loc[142:143]

          Date Home       Team  1st  2nd  3rd  4th  Final     ML
142 2009-11-06    V    Atlanta   24   24   21   14     83   -7.5
143 2009-11-06    H  Charlotte   28   33   23   19    103  120.0

In [ ]:
# Drop Incorrect Games to a Separate DataFrame "Layer"
incorrect_games_list = []
for s in range(len(season_data)):
  current_season = season_data[s]
  if (s == 0):
    incorrect_games = current_season[current_season['ML'] == 'NL']
  elif (s == 2):
    incorrect_games = current_season.loc[142:143]
  else:
    incorrect_games = current_season[current_season['ML'] % 1 != 0]
  num_incorrect_games = len(incorrect_games)
  if (num_incorrect_games > 0):
    season_data[s] = current_season.append(incorrect_games).drop_duplicates(keep=False)
    season_data[s]['ML']
  incorrect_games_list.append(incorrect_games)

In [ ]:
# Export Incorrect Games Data
writer = pd.ExcelWriter('incorrect games.xlsx', engine='xlsxwriter')
for i in range(len(incorrect_games_list)):
  year = str (2007 + i) + '-' + str (8 + i)
  incorrect_games_list[i].to_excel(writer, sheet_name = year)
writer.save()

In [ ]:
# Correct Types
for i in [0, 2]:
  season_data[i]['ML'] = season_data[i]['ML'].astype('int64')

In [ ]:
# Drop Neutral Games to a Separate DataFrame "Layer"
neutral_games_list = []
for s in range(len(season_data)):
  current_season = season_data[s]
  neutral_games = pd.DataFrame(current_season[current_season['Home'] == 'N'])
  num_neutral_games = len(pd.DataFrame(neutral_games))
  if (num_neutral_games > 0):
    season_data[s] = current_season.append(neutral_games).drop_duplicates(keep=False)
  neutral_games_list.append(neutral_games)

In [ ]:
# Export Neutral Games Data
writer = pd.ExcelWriter('neutral games.xlsx', engine='xlsxwriter')
for n in range(len(neutral_games_list)):
  year = str (2007 + n) + '-' + str (8 + n)
  neutral_games_list[n].to_excel(writer, sheet_name = year)
writer.save()

In [ ]:
# Export Home-Away Games Data
writer = pd.ExcelWriter('home-away games.xlsx', engine='xlsxwriter')
for s in range(len(season_data)):
  year = str (2007 + s) + '-' + str (8 + s)
  season_data[s].to_excel(writer, sheet_name = year)
writer.save()

In [ ]:
# View All Season Data Info
for s in range(len(season_data)):
  print(needed_files[s])
  print(season_data[s].info())
  print()

nba odds 2007-08.xlsx
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2630 entries, 0 to 2631
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2630 non-null   datetime64[ns]
 1   Home    2630 non-null   object
 2   Team    2630 non-null   object
 3   1st     2630 non-null   int64
 4   2nd     2630 non-null   int64
 5   3rd     2630 non-null   int64
 6   4th     2630 non-null   int64
 7   Final   2630 non-null   int64
 8   ML      2630 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 205.5+ KB
None

nba odds 2008-09.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2630 non-null   datetime64[ns]
 1   Home    2630 non-null   object
 2   Team    2630 non-null   object
 3   1st     2630 non-null   int64
 4   2nd     2630 non-null   int64
 5   3rd     2630 non-null   int64
 6   4th     2630 non-null   int64
 7   Final   2630 non-null   int64
 8   ML      2630 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 185.0+ KB
None

nba odds 2009-10.xlsx
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2622 entries, 0 to 2623
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2622 non-null   datetime64[ns]
 1   Home    2622 non-null   object
 2   Team    2622 non-null   object
 3   1st     2622 non-null   int64
 4   2nd     2622 non-null   int64
 5   3rd     2622 non-null   int64
 6   4th     2622 non-null   int64
 7   Final   2622 non-null   int64
 8   ML      2622 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 204.8+ KB
None

nba odds 2010-11.xlsx
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2618 entries, 0 to 2621
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2618 non-null   datetime64[ns]
 1   Home    2618 non-null   object
 2   Team    2618 non-null   object
 3   1st     2618 non-null   int64
 4   2nd     2618 non-null   int64
 5   3rd     2618 non-null   int64
 6   4th     2618 non-null   int64
 7   Final   2618 non-null   int64
 8   ML      2618 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 204.5+ KB
None

nba odds 2011-12.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2148 entries, 0 to 2147
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2148 non-null   datetime64[ns]
 1   Home    2148 non-null   object
 2   Team    2148 non-null   object
 3   1st     2148 non-null   int64
 4   2nd     2148 non-null   int64
 5   3rd     2148 non-null   int64
 6   4th     2148 non-null   int64
 7   Final   2148 non-null   int64
 8   ML      2148 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 151.2+ KB
None

nba odds 2012-13.xlsx
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2626 entries, 0 to 2627
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2626 non-null   datetime64[ns]
 1   Home    2626 non-null   object
 2   Team    2626 non-null   object
 3   1st     2626 non-null   int64
 4   2nd     2626 non-null   int64
 5   3rd     2626 non-null   int64
 6   4th     2626 non-null   int64
 7   Final   2626 non-null   int64
 8   ML      2626 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 205.2+ KB
None

nba odds 2013-14.xlsx
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2636 entries, 0 to 2637
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2636 non-null   datetime64[ns]
 1   Home    2636 non-null   object
 2   Team    2636 non-null   object
 3   1st     2636 non-null   int64
 4   2nd     2636 non-null   int64
 5   3rd     2636 non-null   int64
 6   4th     2636 non-null   int64
 7   Final   2636 non-null   int64
 8   ML      2636 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 205.9+ KB
None

nba odds 2014-15.xlsx
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2620 entries, 0 to 2621
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2620 non-null   datetime64[ns]
 1   Home    2620 non-null   object
 2   Team    2620 non-null   object
 3   1st     2620 non-null   int64
 4   2nd     2620 non-null   int64
 5   3rd     2620 non-null   int64
 6   4th     2620 non-null   int64
 7   Final   2620 non-null   int64
 8   ML      2620 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 204.7+ KB
None

nba odds 2015-16.xlsx
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2628 entries, 0 to 2631
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2628 non-null   datetime64[ns]
 1   Home    2628 non-null   object
 2   Team    2628 non-null   object
 3   1st     2628 non-null   int64
 4   2nd     2628 non-null   int64
 5   3rd     2628 non-null   int64
 6   4th     2628 non-null   int64
 7   Final   2628 non-null   int64
 8   ML      2628 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 205.3+ KB
None

nba odds 2016-17.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2618 entries, 0 to 2617
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2618 non-null   datetime64[ns]
 1   Home    2618 non-null   object
 2   Team    2618 non-null   object
 3   1st     2618 non-null   int64
 4   2nd     2618 non-null   int64
 5   3rd     2618 non-null   int64
 6   4th     2618 non-null   int64
 7   Final   2618 non-null   int64
 8   ML      2618 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 184.2+ KB
None

nba odds 2017-18.xlsx
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2622 entries, 0 to 2623
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2622 non-null   datetime64[ns]
 1   Home    2622 non-null   object
 2   Team    2622 non-null   object
 3   1st     2622 non-null   int64
 4   2nd     2622 non-null   int64
 5   3rd     2622 non-null   int64
 6   4th     2622 non-null   int64
 7   Final   2622 non-null   int64
 8   ML      2622 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 204.8+ KB
None

nba odds 2018-19.xlsx
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2622 entries, 0 to 2623
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2622 non-null   datetime64[ns]
 1   Home    2622 non-null   object
 2   Team    2622 non-null   object
 3   1st     2622 non-null   int64
 4   2nd     2622 non-null   int64
 5   3rd     2622 non-null   int64
 6   4th     2622 non-null   int64
 7   Final   2622 non-null   int64
 8   ML      2622 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 204.8+ KB
None

nba odds 2019-20.xlsx
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1942 entries, 0 to 1941
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1942 non-null   datetime64[ns]
 1   Home    1942 non-null   object
 2   Team    1942 non-null   object
 3   1st     1942 non-null   int64
 4   2nd     1942 non-null   int64
 5   3rd     1942 non-null   int64
 6   4th     1942 non-null   int64
 7   Final   1942 non-null   int64
 8   ML      1942 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 151.7+ KB
None

nba odds 2020-21.xlsx
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1718 entries, 0 to 1717
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1718 non-null   datetime64[ns]
 1   Home    1718 non-null   object
 2   Team    1718 non-null   object
 3   1st     1718 non-null   int64
 4   2nd     1718 non-null   int64
 5   3rd     1718 non-null   int64
 6   4th     1718 non-null   int64
 7   Final   1718 non-null   int64
 8   ML      1718 non-null   int64
dtypes: datetime64[ns](1), int64(6), object(2)
memory usage: 120.9+ KB
None